html {
  margin-left: 20px;
}

.passwordForm {
  margin-left: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.passwordForm button {
  width: 20%;
}

.checks {
  margin: 20px;
  width: 60%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
}

.otpContainer {
  display: flex;
  gap: 5px;
  margin: 5px;
}
